* {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: 100%; // sass-lint:disable-line no-vendor-prefixes
}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: underline;

    &.active {
        text-decoration: none;
    }
}

button {
    border: 0;
    outline: none;
    background-color: $color-transparent;
    color: inherit;
}

audio {
    width: 100%;
    height: 30px;
    outline: none;
}

// ::selection {
//     background: $color-transparent;
//     color: inherit;
// }

::-webkit-scrollbar { // sass-lint:disable-line no-vendor-prefixes
    display: none;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.spacer {
    opacity: 0;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: top;
}

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.mono {
    font-family: monospace;
}
