$color-def-tangerine: rgba(255, 170, 0, 1);
$color-def-tangerine-semi: rgba(255, 170, 0, .75);
$color-def-desert: rgb(255, 244, 225);
$color-def-desert-semi: rgba(255, 244, 225, .75);
$color-def-bordeaux: rgba(92, 1, 32, 1);
$color-def-aliceblue-light: rgba(240, 248, 255, .99);
$color-def-light-blue: rgba(46, 234, 255, 1);
$color-def-grey-dark: rgba(80, 80, 80, 1);
$color-def-black: rgba(0, 0, 0, 1);
$color-def-red: rgba(255, 0, 0, 1);
$color-def-white: rgba(255, 255, 255, 1);
$color-def-transparent: transparent;

$color-background: $color-def-desert;
$color-background-off: $color-def-bordeaux;
$color-background-gradient-inner: $color-def-desert-semi;
$color-background-gradient-outer: $color-def-white;
$color-screensaver: $color-def-transparent;
$color-button-background: $color-def-transparent;
$color-box-shadow: $color-def-bordeaux;
$color-image-border: $color-def-bordeaux;
$color-text: $color-def-bordeaux;
$color-layer: $color-def-aliceblue-light;
$color-input: $color-def-white;
$color-input-border: $color-def-bordeaux;
$color-record: $color-def-black;
$color-record-background: $color-def-aliceblue-light;
$color-curtains: $color-def-bordeaux;
$color-curtains-border: $color-def-desert;
$color-player-outer: $color-def-grey-dark;
$color-player-inner: $color-def-desert;
$color-secret: $color-def-tangerine-semi;

$font-size-base: 18px;
$line-height-base: 24px;

$max-width-phone: 414px;
$min-width-tablet: 768px;
$max-width-tablet: 1024px;
$min-width-desktop: 1280px;
$min-width-large-desktop: 1920px;
$min-width-very-large-desktop: 2560px;
$max-height-phone-landscape: 414px;

$header-height: 50px;
$header-font-size: $font-size-base + 12px;
$header-icon-width: 60px;

$app-shadow: 0 2px 2px 0 $color-box-shadow;

$z-index-main: 100;
$z-index-header: 200;
$z-index-layer: 300;
$z-index-player: 1000;
$z-index-curtains: 10000;

$screensaver-fade-in-time: 1s;
$screensaver-fade-out-time: 10s;

%scroll-container {
    overflow: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
}

%screensaver-background {
    transition: background-color $screensaver-fade-in-time;
    background-color: $color-screensaver;

    &.screensaver {
        transition: background-color $screensaver-fade-out-time;
        background-color: $color-background-off;
    }
}

%screensaver-foreground {
    transition: opacity $screensaver-fade-in-time;
    opacity: 1;

    .screensaver & {
        transition: opacity $screensaver-fade-out-time;
        opacity: 0;
        pointer-events: none;
    }
}
