{
    "presets": [
        "@babel/env",
        "@babel/react"
    ],
    "plugins": [
        ["@babel/proposal-optional-chaining"],
        ["@babel/proposal-object-rest-spread"],
        ["@babel/proposal-export-default-from"],
        ["@babel/proposal-decorators", { "legacy": true }],
        ["@babel/proposal-class-properties", { "loose": true }]
    ]
}
