.tmp
.DS_Store
coverage
node_modules
public
!src/assets/mp3
src/assets/mp3/*
!src/assets/mp3/demoartist
!src/assets/img
src/assets/img/*
!src/assets/img/fallback.png
src/assets/fonts
src/assets/js
src/sass/lib
