.page-404 {
    .album-cover {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        opacity: .075;
        z-index: -1;
    }
}
