.page-tools {
  margin-top: 5px;

  hr {
    margin: 20px auto;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, transparent 20%, $color-text 40%, transparent 80%);
  }

  p {
    margin: 10px auto;
  }

  h2,
  h3,
  p {
    margin-bottom: 20px;
  }

  .learn {
    div {
      margin-bottom: 20px;
    }

    pre {
      display: inline-block;
      text-align: justify;
      white-space: pre-wrap;
    }
  }
}
