.page-tools {
    hr {
        margin: 10px auto 20px;
    }

    p {
        margin: 10px auto;
    }

    .learn {
        pre {
            text-align: justify;
            white-space: pre-wrap;
        }

        h2,
        h3,
        p {
            margin-bottom: 20px;
        }
    }

}
