.curtain {
    position: absolute;
    z-index: $z-index-curtains;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    transition-property: width, opacity;
    transition-duration: 2s, 300ms;
    transition-delay: 0s, 0s;
    opacity: 1;
    background-color: $color-curtains;
    cursor: pointer;

    &.left {
        left: 0;
        border-right: 2px solid $color-curtains-border;
    }

    &.right {
        right: 0;
        border-left: 2px solid $color-curtains-border;
    }

    &.open {
        width: 0%;
        transition-delay: 0s, 2s;
        opacity: 0;
    }
}
