.screensaver {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: background-color $screensaver-fade-in-time;
    background-color: $color-screensaver;

    &.active {
        transition: background-color $screensaver-fade-out-time;
        background-color: $color-background-off;
    }
}

