.layer {
    @extend %screensaver-foreground;

    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-in-out;
    background-color: $color-layer;
    box-shadow: $app-shadow;
    z-index: $z-index-layer;

    @media (max-width: $max-width-phone) {
        width: 100%;
    }
}

.layer-headline {
    padding: 0 $header-icon-width 0 15px;
    font-size: $header-font-size;
    font-weight: bold;
    line-height: $header-height;
    box-shadow: $app-shadow;
}

.layer-content {
    @extend %scroll-container;

    width: 100%;
    height: calc(100% - #{$header-icon-width});
}
