$transition-timing-fade: ease-in-out; // cubic-bezier(.87, -.41, .19, 1.44);
$transition-duration-fade: 300ms;

%fade-enter {
  opacity: 0;
}

%fade-end {
  opacity: 1;
}

%fade-transition {
  transition: opacity $transition-duration-fade $transition-timing-fade;
}

.fade-appear,
.fade-enter {
  @extend %fade-enter;

  &.fade-appear-active,
  &.fade-enter-active {
    @extend %fade-end;
    @extend %fade-transition;
  }
}

.fade-exit {
  @extend %fade-end;

  &.fade-exit-active {
    @extend %fade-enter;
    @extend %fade-transition;
  }
}
